a {
	text-decoration: none;
}

#header {
	background: url(../img/bg.png) no-repeat;
	height: 786px;
	margin-bottom: 100px;
}

.header {

}

.logo img{
	margin-left: 236px;
	margin-top: 30px;
}

nav.menu {
	margin-top: -19px;
	margin-left: 792px;
}

.menu-item {
	margin-left: 12px;

}

.menu-item li {
	display: inline-block;
	margin-left: 30px;

}

.menu-item li a {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
}

.menu li a:hover {
	color: #0000FF;
	font-family: 'Montserrat', sans-serif;
}

.title {

}

.title h1 {
	text-transform: uppercase;
	font-size: 48px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-top: 257px;
}

.title_offer p {
	font-size: 20px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	margin-top: 29px;
	font-weight: normal;
}


.button {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.get_btn {
	height: 50px;
	width: 180px;
	background-color: transparent;
	border: 2px solid #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	
}

.get_btn:hover {
	background:red;
	border: 0;
}

#services {
	height: 575px;
}

.title_servises h3 {
	margin-top: 7px;
	display: flex;
	justify-content: center;
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}

.serv_line {
	border: 1px solid #555555;
    width: 50px;
    margin-top: 30px;
    margin-left: 770px;
}

.text_services {
	margin-top: 31px;
}

.text_services p {
	display: flex;
	justify-content: center;
	font-family: 'Roboto Slab', serif;
	color: #555555;
}

.icon {
	margin-top: 75px;
	padding-left: 150px;	

}

.text_icon h1 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-left: -25px;
    margin-top: 30px;
	font-size: 14px;
	color: #555555;
	font-weight: bold;	
}

.text_paragraf p {
	width: 300px;
    max-width: 300px;
    margin-left: -122px;
    margin-top: 26px;
    text-align: center;
    color: #555555;
    font-size: 14px;
    line-height: 1.6;
}

#about {
	height: 890px;
	background: #f8f8f8;
}

.about_us {
	padding-top: 104px;
}

.text_about p {
	margin-top: 77px;
	width: 540px;
    max-width: 540px;
    color: #555555;
    line-height: 1.4;
}

.text_abouts p {
	margin-top: 77px;
	width: 540px;
    max-width: 540px;
    color: #555555;
    line-height: 1.4;
}

.img_icons {
	margin-top: 70px;
}

.boy_icon_f i {
	position: absolute;
	font-size: 18px;
	color: red;
}

.carousel-control-prev-icon {
	position: absolute;
    margin-top: 1px;
    margin-left: -77px;
}

.carousel-control-next-icon {
	position: absolute;
	margin-top: 1px;
	margin-left: 77px;
}

.social {
	position: absolute;
	margin-top: -50px;
	margin-left: 71px;

}

.social_tw{
	position: absolute;
    margin-top: -25px;
    margin-left: 35px;
}

.social_g {
	position: absolute;
	margin-top: -25px;
	margin-left: 65px;
}

.social_in {
	position: absolute;
	margin-top: -25px;
	margin-left: 95px;
}

.name p {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.name_second p {
	color: #555555;
	font-size: 13px;
	margin-top: 10px;
	text-transform: capitalize;
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	display: flex;
	justify-content: center;
}

#wrapper_lates {
	height: 1385px;
}

.menu-work {
	display: flex;
	justify-content: center;
}

.menu-work li {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 32px;
}

.menu-work li a {
	display: inline-block;
	color: #555555;
	text-decoration: none;
}

.menu-work li a:hover {
	color: #c0301c;
}


li.all a {
	color: #c0301c;
}

.photos {
	margin-top: 93.2px;
	
}


.photos img {
	display: block;

}

.mask {
	width: 360px;
	height: 319px;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.8;
}

.mask:hover {
	position: absolute;
	top: 0;
	left: 15px;
	right: 0;
	bottom: 0;
	background: #ca675e;
	width: 360px;
	height: 320px;
	transition: .4s ease-out;
     transition-delay: 0.3s;
}

.mask h2 {
	opacity: 0;
	margin-top: -15px;

}

.mask:hover h2 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 18px;
	opacity: 1;
	margin-top: -91px;
	
}

.mask p {
	opacity: 0;
}

.mask:hover p {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 12px;
	opacity: 1;
	display: flex;
	justify-content: center;
	position: absolute;	
	margin-top: -20px;

}

.viev {
	display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-top: 50px;
}

.viev input[type="submit"] {
	background: #ffffff;
	color: #ca675e;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	width: 101px;
	height: 40px;
	font-family: 'Roboto Slab', serif;
	opacity: 0;
}

.viev input[type="submit"]:hover {
	background: #ffffff;
	color: #ca675e;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	width: 101px;
	height: 40px;
	font-family: 'Roboto Slab', serif;
	opacity: 1;
	display: flex;
	justify-content: center;
	transition: .4s ease-out;
     transition-delay: 0.5s;
}

.work {
	background: url(../img/works.png);
	height: 369px;
	margin-top: 100px;
}	

 .work h1 {
 	font-family: 'Roboto Slab', serif;
 	font-size: 30px;
 	color: #ffffff;
 	padding-top: 100px;
 	display: flex;
 	justify-content: center;

 }

 .work h2 {
 	font-family: 'Roboto Slab', serif;
 	font-size: 30px;
 	color: #ffffff;
 	padding-top: 10px;
 	display: flex;
 	justify-content: center;
 }


 .button_ss {
 	margin-top: -145px;
 	display: flex;
 	justify-content: center;
 }

 .get_btns {
 	height: 50px;
    width: 180px;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
  
 }

 .get_btns:hover {
	background:red;
	border: 0;
}


#wrapper_rbp {
	height: 1170px;
	margin-top: 505px;
}

.title_lates {

}

.title_lates h3 {
	padding-top: 150px;
    display: flex;
    justify-content: center;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.img-styl {
	margin-top: 67px;
}

.date {
	border: 2px solid #555555;
	height: 75px;
	width: 75px;
	margin-top: 70px;
	margin-left: -70px;
	position: absolute;
	
}

.date p {
	width: 30px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font:200%;
	font-size: 18px;
	text-align: center;
	color: #777777;
	padding-top: 5px;
	margin-top: 5px;
}

.date p:nth-child(2) {
	font-size: 14px;
}

.text_date h1 {
	text-transform: uppercase;
	font-size: 16px;	
	color: #c0301c;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 80px;
	margin-left: 33px;
}

.text_date p {
	color: #777777;
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	margin-top: 15px;
	margin-left: 33px;
}

.text_color {
	color: #c0301c;
}

.text_offer__blog {

} 

.text_offer__blog p {
	color: #777777;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.6;
	max-width: 640px;
	width: 640px;
	margin-left: -70px;
    margin-top: 35px;
}

.read_more {
	margin-top: 37px;
}

.read_more a {
	text-transform: uppercase;
	color: #c0301c;
	font-weight: bold;
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	margin-left: -65px;
}

.read_more a:last-child(2) {
	color: green;
}

h1.silver_color {
	color: #555555;
}

.read_mores {
	margin-top: 37px;
}

.read_mores a {
	text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    margin-left: -65px;
}

#brand {
	background: #f8f8f8;
	height: 525px;
}

.img_block {
	padding-top: 112px;
	margin-left: 345px;
}

.text_brand_p p {
	font-family: 'Roboto Slab', serif;
	width: 680px;
	max-width: 680px;
	color: #555555;
	text-align:center;
	line-height: 1.8;
	margin-top: 50px;
	margin-left: 415px;
}

.text_autor h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	padding-top: 50px;
	margin-left: 661px;
	color: #555555;
}


.circle__block {
	display: flex;
	justify-content: center;
	margin-left: -50px;
	padding-top: 45px;
}

.circle_red {
	height: 15px;
	width: 15px;
	background: #c0301c;
	border-radius: 100%;
}

.circle_silver {
	height: 15px;
	width: 15px;
	background: #dddddd;
	border-radius: 100%;
	margin-left: 15px;
}

.circle_silver:hover{
	background: #c0301c;
	transition: 0.5s;
	transition-delay: 0.2s;
}


#information {
	background: #ffffff;
	height: 750px;
}

.title__form {
	padding-top: 82px;
}

.map_s {
	margin-top: 77px;
	margin-left: 229px;
}

.map_s h3 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #555555;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	margin-left: 23px;	
}

.map_s i {
	color: #555555;
}

.map_text p {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	margin-left: 250px;
    margin-top: 21px;
    color: #555555;
}

.map_text p:nth-child(2) {
	margin-top: 10px;
}

.hotline {
	margin-top: -30px;	
}

.email {
	margin-top: -30px;
}

.form-group {
	margin-top: 78px;
	margin-left: 70px;
	width: 348px;
	height: 45px;
}

.form-control {
	border-radius: 0;
	border: 1px solid #c0301c;
}

.form-groups {
	margin-top: 30px;
	margin-left: 70px;
	width: 348px;
	height: 45px;
}

.form-controls {
	border-radius: 0;
	border: 1px solid #555555;
	padding-left: 15px;
	width: 348px;
	height: 38px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	text-transform: uppercase;
}

.form-groups_s {
	margin-top: -120px;
	margin-left: 448px;
}

.form-groups_d {
	margin-top: 37px;
	margin-left: 448px;
}


.message {
	height: 143px;
	width: 726px;
	border: 1.3px solid #555555;
	margin-left: 70px;
	margin-top: 21px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	text-transform: uppercase;
}

#text_mess {
	border: none;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #555555;
	margin-top: 16px;
	margin-left: 22px;
}

.btn_send {
	height: 43px;
	width: 170px;
	margin-top: 20px;
	background-color: transparent;
	border: 1px solid #555555;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	color: #555555;
	margin-left: 70px;
}

.btn_send:hover {
	background: #DCDCDC;
	 transition: .1s ease-out;
     transition-delay: 0.3s;
     border:  1px solid #DCDCDC;
}

.title__message_text {
	margin-top: -30px;
	margin-left: 290px;
}

.title__message_text span {
	color: #c0301c;
}

.title__message_text p {
	font-family: 'Roboto Slab', serif;
	color: #555555;
	font-size: 12px;
}

#footer {
	background: #c0301c;
	height: 305px;
}

.tw_logo {
	display: flex;
	justify-content: center;	

}

.tw_logo a {
	padding-left: 15px;
	padding-top: 98px;
}

.tw_logo  img {
	color: red;
	display: flex;
	justify-content: center;
}


.tw_logo a img:hover {
	border-radius: 100%;
	background: blue;
}

.footer__line {
	border: 1px solid #ffffff;
    width: 50px;
    margin-top: 40px;
    margin-left: 780px;
}

.title__footer  {
	display: flex;
	justify-content: center;
	margin-top: 26px;
}

.title__footer h3 {
	color: #f8eceb;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	text-transform: uppercase;
}